<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byType" default-lazy-init="true" default-dependency-check="none">

	<bean name="/web/welcomeToCommunities.do" class="com.era.community.home.ui.action.WelcomeToCommunitiesAction" />
	<bean name="/web/login.do" class="com.era.community.pers.ui.action.LoginAction" />
	<bean name="/web/feedback.do" class="com.era.community.home.ui.action.NCFeedbackAction" />
	<bean name="/web/community/showCommunities.do" class="com.era.community.communities.ui.action.AllCommunityIndexAction" />
	<bean name="/web/cid/[cec]/home.do" class="com.era.community.communities.ui.action.CommunityHomeAction" />	
	<bean name="/web/community/createNewCommunity.do" class="com.era.community.communities.ui.action.CreateNewCommunityAction" />
	<bean name="/web/community/completeNewCommunity.do" class="com.era.community.communities.ui.action.CompleteNewCommunityAction" />
	<bean name="/web/home.do" class="com.era.community.home.ui.action.WelcomeToCommunitiesAction" />
	<bean name="/web/blog/allBlogs.do" class="com.era.community.blog.ui.action.AllBlogsIndexAction" />
	<bean name="/web/cid/[cec]/blog/viewBlog.do" class="com.era.community.blog.ui.action.ShowCommunityBlogAction" />
  	<bean name="/web/blog/viewBlog.do" class="com.era.community.blog.ui.action.ShowPersonalBlogAction" />
  	<bean name="/web/blog/personalBlog.do" class="com.era.community.blog.ui.action.PersonalBlogAction" />
  	<bean name="/web/cid/[cec]/blog/blogEntry.do" class="com.era.community.blog.ui.action.BlogConsolDisplayEntryAction" />
  	<bean name="/web/blog/blogEntry.do" class="com.era.community.blog.ui.action.BlogConsolDisplayEntryAction" />
  	<bean name="/web/pers/startBlog.do" class="com.era.community.blog.ui.action.StartNewBlogAction" />
  	<bean name="/web/blog/toggleAactivate.do" class="com.era.community.blog.ui.action.BlogToggleActivateAction" />
  	<bean name="/web/cid/[cec]/blog/addEditBlog.do" class="com.era.community.blog.ui.action.AddEditCommunityBlogEntryAction" />
  	<bean name="/web/blog/addEditBlog.do" class="com.era.community.blog.ui.action.AddEditPersonalBlogEntryAction" />
  	<bean name="/web/blog/deleteBlogEntry.do" class="com.era.community.blog.ui.action.DeleteBlogEntryAction" />
  	<bean name="/web/cid/[cec]/blog/editBlog.do" class="com.era.community.blog.ui.action.EditBlogAction" />
  	<bean name="/web/blog/editBlog.do" class="com.era.community.blog.ui.action.EditBlogAction" />
	<bean name="/web/cid/[cec]/blog/manageBlogAuthors.do" class="com.era.community.blog.ui.action.ManageBlogAuthorsAction" />
  	<bean name="/web/blog/manageBlogAuthors.do" class="com.era.community.blog.ui.action.ManageBlogAuthorsAction" />
  	<bean name="/web/blog/blogAuthors.do" class="com.era.community.blog.ui.action.ViewBlogAuthorsAction" />
	<bean name="/web/forum/allForums.do" class="com.era.community.forum.ui.action.AllForumsAction" />
	<bean name="/web/wiki/allWikis.do" class="com.era.community.wiki.ui.action.AllWikisAction" />
	<bean name="/web/event/allEvents.do" class="com.era.community.events.ui.action.AllEventsAction" />
	<bean name="/web/pers/unregisterMe.do" class="com.era.community.profile.ui.action.UnregisterMeAction" />
  	<bean name="/web/pers/myProfile.do" class="com.era.community.profile.ui.action.MyProfileAction" />
  	<bean name="/web/pers/myHome.do" class="com.era.community.pers.ui.action.MyHomePageAction" />
  	<bean name="/web/pers/myContacts.do" class="com.era.community.pers.ui.action.MyContactsAction" />
  	<bean name="/web/pers/showConnections.do" class="com.era.community.pers.ui.action.ShowConnectionsAction" />
  	<bean name="/web/pers/acceptrequest.do" class="com.era.community.pers.ui.action.AcceptConnectionRequestAction" />
  	<bean name="/web/pers/removeConnection.do" class="com.era.community.pers.ui.action.RemoveConnectionAction" />
  	<bean name="/web/pers/sendInvitation.do" class="com.era.community.pers.ui.action.SendInvitationAction" />
  	<bean name="/web/cid/[cec]/forum/forumThread.do" class="com.era.community.forum.ui.action.ForumThreadAction" />
  	<bean name="/web/community/joinCommunityRequestSend.do" class="com.era.community.communities.ui.action.JoinCommunityRequestSendAction" />
  	<bean name="/web/pers/myMessages.do" class="com.era.community.pers.ui.action.MyMessagesAction" />
  	<bean name="/web/cid/[cec]/wiki/wikiDisplay.do" class="com.era.community.wiki.ui.action.WikiDisplayAction" />
  	<bean name="/web/cid/[cec]/wiki/wikiDiscussionDisplay.do" class="com.era.community.wiki.ui.action.WikiDiscussionAction" />
  	<bean name="/web/cid/[cec]/wiki/wikiHistory.do" class="com.era.community.wiki.ui.action.WikiHistoryAction" />
  	<bean name="/web/cid/[cec]/wiki/wikiRestore.do" class="com.era.community.wiki.ui.action.WikiRestoreAction" />
  	<bean name="/web/cid/[cec]/wiki/wikiDelete.do" class="com.era.community.wiki.ui.action.WikiEntryDeleteAction" />
  	<bean name="/web/cid/[cec]/wiki/addWiki.do" class="com.era.community.wiki.ui.action.AddWikiAction" />
  	<bean name="/web/cid/[cec]/wiki/editWiki.do" class="com.era.community.wiki.ui.action.EditWikiAction" />
  	<bean name="/web/pers/profileSettings.do" class="com.era.community.profile.ui.action.ProfileSettingsAction" />
  	<bean name="/web/pers/manageSubscriptions.do" class="com.era.community.profile.ui.action.ManageSubscriptionAction" />
  	<bean name="/web/pers/accountSettings.do" class="com.era.community.pers.ui.action.AccountSettingsAction" />
  	<bean name="/web/community/inviteAFriend.do" class="com.era.community.communities.ui.action.InviteAFriendAction" />
  	<bean name="/web/cid/[cec]/library/documentdisplay.do" class="com.era.community.library.ui.action.DocumentDisplayAction" />
  	<bean name="/web/cid/[cec]/library/editDocument.do" class="com.era.community.library.ui.action.DocumentEditAction" />
  	<bean name="/web/cid/[cec]/library/mediaGallery.do" class="com.era.community.library.ui.action.ShowMediaGalleryAction" />
 	<bean name="/web/cid/[cec]/forum/startTopic.do" class="com.era.community.forum.ui.action.StartTopicAction" />
	<bean name="/web/cid/[cec]/forum/editForumitem.do" class="com.era.community.forum.ui.action.ForumItemEditAction" />
  	<bean name="/web/cid/[cec]/forum/item-file-remove.do" class="com.era.community.forum.ui.action.ForumItemFileRemoveAction" />
  	<bean name="/web/cid/[cec]/wiki/wikiVersions.do" class="com.era.community.wiki.ui.action.WikiVersionsIndexAction" />
  	<bean name="/web/cid/[cec]/admin/relevantWebsiteUpdate.do" class="com.era.community.communities.ui.action.RelevantSiteUpdateAction" />
  	<bean name="/web/cid/[cec]/admin/relevantWebsites.do" class="com.era.community.communities.ui.action.RelevantSitesAction" />
  	<bean name="/web/cid/[cec]/relevantWebsiteCreate.do" class="com.era.community.communities.ui.action.RelevantSiteCreateAction" />
  	<bean name="/web/cid/[cec]/connections/manageMembership.do" class="com.era.community.communities.ui.action.ManageMembershipAction" />
  	<bean name="/web/pers/registerMe.do" class="com.era.community.pers.ui.action.RegisterMeAction" />
  	<bean name="/web/pers/changePass.do" class="com.era.community.pers.ui.action.ChangePasswordAction" />
  	<bean name="/web/pers/createNewPassword.do" class="com.era.community.pers.ui.action.CreateNewPasswordAction" />
  	<bean name="/web/pers/registerConfirm.do" class="com.era.community.pers.ui.action.RegisterConfirmAction" />
  	<bean name="/web/pers/validateMe.do" class="com.era.community.pers.ui.action.ValidateMeAction" />
  	<bean name="/web/pers/validateResend.do" class="com.era.community.pers.ui.action.ValidateResendAction" />
  	<bean name="/web/pers/reactivateMe.do" class="com.era.community.pers.ui.action.ReactivateMeAction" />
  	<bean name="/web/pers/activateInvitation.do" class="com.era.community.pers.ui.action.ActivateInvitationAction" />
  	<bean name="/web/pers/fPassword.do" class="com.era.community.pers.ui.action.FMyPasswordAction" />
  	<bean name="/web/pers/connectionResult.do" class="com.era.community.pers.ui.action.ConnectionResultDisplayAction" />
  	<bean name="/web/pers/connectionCommunities.do" class="com.era.community.pers.ui.action.ConnectionCommunitiesDisplayAction" />
  	<bean name="/web/pers/communityInvitations.do" class="com.era.community.pers.ui.action.CommunityInvitationsDisplayAction" />
  	<bean name="/web/pers/joiningRequests.do" class="com.era.community.pers.ui.action.JoiningRequestsDisplayAction" />
  	<bean name="/web/pers/myJoiningRequests.do" class="com.era.community.pers.ui.action.MyJoiningRequestsDisplayAction" />
  	<bean name="/web/pers/connectionList.do" class="com.era.community.pers.ui.action.ConnectionListDisplayAction" />
  	<bean name="/web/pers/pendingConnectionRequests.do" class="com.era.community.pers.ui.action.PendingConnectionRequestsAction" />
  	<bean name="/web/pers/notifications.do" class="com.era.community.pers.ui.action.ShowNotificationAction" />
  	<bean name="/web/pers/pymk.do" class="com.era.community.pers.ui.action.PeopleYouMayKnowAction" />
  	<bean name="/web/pers/interestArea.do" class="com.era.community.pers.ui.action.InterestAreaAction" />
	<bean name="/web/pers/mediaGallery.do" class="com.era.community.media.ui.action.MediaGalleryAction" />
  	<bean name="/web/cid/[cec]/event/showEventEntry.do" class="com.era.community.events.ui.action.ShowEventEntryAction" />
  	<bean name="/web/event/showEventEntry.do" class="com.era.community.events.ui.action.ShowEventEntryAction" />
  	<bean name="/web/cid/[cec]/event/showEvents.do" class="com.era.community.events.ui.action.ShowEventsAction" />
  	<bean name="/web/cid/[cec]/event/addEvent.do" class="com.era.community.events.ui.action.AddEventAction" />
  	<bean name="/web/cid/[cec]/event/manageEvent.do" class="com.era.community.events.ui.action.EditEventAction" />
  	<bean name="/web/cid/[cec]/event/editEvent.do" class="com.era.community.events.ui.action.EditEventAction" />
  	<bean name="/web/cid/[cec]/event/deleteEvent.do" class="com.era.community.events.ui.action.DeleteEventAction" />
  	<bean name="/web/cid/[cec]/feed/newsFeeds.do" class="com.era.community.news.ui.action.ShowNewsFeedsIndexAction" />
  	<bean name="/web/cid/[cec]/forum/showTopics.do" class="com.era.community.forum.ui.action.ShowTopicsAction" />
  	<bean name="/web/cid/[cec]/communityMembers/exportList.do" class="com.era.community.communitiesMembers.ui.action.ExportMembersAction" />
  	<bean name="/web/exportList.do" class="com.era.community.communitiesMembers.ui.action.ExportMembersAction" />
  	<bean name="/web/cid/[cec]/forum/fileDownload.do" class="com.era.community.forum.ui.action.FileDownloadAction" />
  	<bean name="/web/cid/[cec]/blog/downloadFile.do" class="com.era.community.blog.ui.action.DownloadFileAction" />
  	<bean name="/web/pers/downloadFile.do" class="com.era.community.blog.ui.action.DownloadFileAction" />
  	<bean name="/web/admin/actions.do" class="com.era.community.admin.ui.action.AdminActionsAction" />
  	<bean name="/web/faq/showAllFaqs.do" class="com.era.community.faqs.ui.action.ShowAllFaqsAction" />
  	<bean name="/web/faq/faqCreate.do" class="com.era.community.faqs.ui.action.CreateFaqAction" />
  	<bean name="/web/faq/faqRemove.do" class="com.era.community.faqs.ui.action.DeleteFaqAction" />
  	<bean name="/web/faq/faqEdit.do" class="com.era.community.faqs.ui.action.EditFaqAction" />
  	<bean name="/web/cid/[cec]/connections/showConnections.do" class="com.era.community.connections.communities.ui.action.ShowConnectionsAction" />
  	<bean name="/web/cid/[cec]/connections/showInvitations.do" class="com.era.community.connections.communities.ui.action.ShowInvitationsAction" />
  	<bean name="/web/cid/[cec]/library/showLibraryItems.do" class="com.era.community.library.ui.action.ShowLibraryItemsAction" />
  	<bean name="/web/cid/[cec]/library/showLibraryFolders.do" class="com.era.community.library.ui.action.ShowLibraryFoldersAction" />
  	<bean name="/web/cid/[cec]/wiki/showWikiEntries.do" class="com.era.community.wiki.ui.action.ShowWikiEntriesAction" />
  	<bean name="/web/cid/[cec]/community/editCommunity.do" class="com.era.community.communities.ui.action.EditCommunityAction" />
  	<bean name="/web/cid/[cec]/community/changeToPublic.do" class="com.era.community.communities.ui.action.ChangeToPublicAction" />
  	<bean name="/web/cid/[cec]/community/changeToProtected.do" class="com.era.community.communities.ui.action.ChangeToProtectedAction" />
  	<bean name="/web/cid/[cec]/connections/showJoiningRequests.do" class="com.era.community.communities.ui.action.ShowJoiningRequestsIndexAction" />
  	<bean name="/web/search/runScheduledTask.do" class="com.era.community.search.ui.scheduler.RunScheduledTask" />
  	<bean name="/web/search/searchComplete.do" class="com.era.community.search.ui.action.SearchCompleteAction" />
  	<bean name="/web/cid/[cec]/srch/search.do" class="com.era.community.search.ui.action.SearchAction" />
  	<bean name="/web/cid/[cec]/search/searchByTagInCommunity.do" class="com.era.community.search.ui.action.SearchByTagInCommunityAction" />
	<bean name="/web/cid/[cec]/show-tagged.do" class="com.era.community.tagging.ui.action.TagCommunitySearchAction" />
	<bean name="/web/cid/[cec]/communityTags.do" class="com.era.community.tagging.ui.action.CommunityTagsAction" />
	<bean name="/web/cid/[cec]/addTag.do" class="com.era.community.tagging.ui.action.AddTagAction" />
	<bean name="/web/tag/addTag.do" class="com.era.community.tagging.ui.action.AddTagAction" />
	<bean name="/web/cid/[cec]/comm/get-file.do" class="com.era.community.communities.ui.action.FileGetAction" />
	<bean name="/web/cid/[cec]/library/downloadFile.do" class="com.era.community.library.ui.action.DownloadFileAction" />
	<bean name="/web/pers/visitMyProfile.do" class="com.era.community.profile.ui.action.MyProfileVisitAction" />	
	<bean name="/web/cid/[cec]/wiki/compareWikiVersions.do" class="com.era.community.wiki.ui.action.CompareWikiVersionsAction" />
	<bean name="/web/cid/[cec]/blog/showBlogAuthors.do" class="com.era.community.blog.ui.action.ShowBlogAuthorsAction" />
	<bean name="/web/cid/[cec]/library/deleteDocument.do" class="com.era.community.doclib.ui.action.DocumentDeleteAction" />
	<bean name="/web/cid/[cec]/comm/leaveCommunity.do" class="com.era.community.communities.ui.action.CommunityLeaveAction" />
	<bean name="/web/error/pageNotFound.do" class="com.era.community.error.ui.action.PageNotFoundAction" />
	<bean name="/web/pers/connectionInfo.do" class="com.era.community.pers.ui.action.ConnectionInfoDisplayAction" />
	<bean name="/web/pers/unsubscribeMe.do" class="com.era.community.pers.ui.action.UnSubscribeMeAction" />
	<bean name="/web/aboutUs.do" class="com.era.community.home.ui.action.DisplayAboutUsAction" />
	<bean name="/web/privacy.do" class="com.era.community.home.ui.action.DisplayPolicyAction" />
	<bean name="/web/terms.do" class="com.era.community.home.ui.action.DisplayTermsAction" />
	<bean name="/web/guide.do" class="com.era.community.home.ui.action.DisplayGuidelineAction" />
	<bean name="/web/help.do" class="com.era.community.home.ui.action.DisplayHelpCenterAction" />
	<bean name="/web/faq/helpQCreate.do" class="com.era.community.faqs.ui.action.CreateNewHelpQAction" />
	<bean name="/web/faq/helpEntryCreate.do" class="com.era.community.faqs.ui.action.CreateNewHelpEntryAction" />
	<bean name="/web/cid/[cec]/forum/topicPinned.do" class="com.era.community.forum.ui.action.TopicPinnedAction" />
	<bean name="/web/cid/[cec]/forum/topicUnpinned.do" class="com.era.community.forum.ui.action.TopicUnpinnedAction" />
	<bean name="/web/cid/[cec]/forum/topicClose.do" class="com.era.community.forum.ui.action.TopicCloseAction" />
	<bean name="/web/cid/[cec]/forum/topicReopen.do" class="com.era.community.forum.ui.action.TopicReopenAction" />
</beans>
